<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465636550505-ie3lgrsmv8su3g0b1h1r1a906010q511.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465636550505-ie3lgrsmv8su3g0b1h1r1a906010q511</string>
	<key>API_KEY</key>
	<string>AIzaSyDjaSMqEYqCyKFAkCjSlYEYqi8IQCZknt0</string>
	<key>GCM_SENDER_ID</key>
	<string>465636550505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commontime.infinity.ChatHealthIM</string>
	<key>PROJECT_ID</key>
	<string>chathealthim</string>
	<key>STORAGE_BUCKET</key>
	<string>chathealthim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465636550505:ios:412167cb7262515d</string>
	<key>DATABASE_URL</key>
	<string>https://chathealthim.firebaseio.com</string>
</dict>
</plist>